
body {
	padding: 0px;
	margin: 0px;
	background-color: #e3e3e3;
}

header {
	height: 50px;
	background-color: #e3e3e3;
	padding-bottom: 15px;
}

h1>a {
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 5px;
	padding: 10px;
}

h1>a:hover {
	text-decoration: none;
	color: white;
	background-color: #444444;
	border-radius: 5px;
	padding: 10px;
}

.website-body {
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px;
	margin-top: 0px;
}

footer {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container {
  position: relative;
  margin-bottom: 0px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

#home-banner {
	width: 100%;
	opacity: 0.5;
}

h1, h2 {
	text-align: center;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.gallery>a {
	margin: 10px;
}

.gallery-col1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.gallery-col2 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.gallery-col3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.gallery-col1>img {
	border-radius: 10px;
	cursor: pointer;
	width: 100%;
}

.gallery-col2>img {
	border-radius: 10px;
	cursor: pointer;
	width: 100%;
}

.gallery-col3>img {
	border-radius: 10px;
	cursor: pointer;
	width: 100%;
}

.art-display>p {
	text-align: center;
	font-size: 28px;
}

.image-link>img {
	width: 100%;
}
