
/***********************
	FLEX GRIDS & MARGINS
***********************/

/* LARGE COMPUTER SCREEN */
@media only screen and (min-width: 880px) {
	
	/* WEBSITE LAYOUT */
	.website-background {
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.website-body {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
	
	.full-page-span {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	
	.paragraph-page-span {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	
	.side-nav {
		grid-column-start: 5;
		grid-column-end: 7;
	}
	
	footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	
	.credits {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	
	/* CHARACTER CREATOR PAGE */
	.creator-grids {
		grid-column-start: 1;
		grid-column-end: 7;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 20px;
	}
	
	#class-title, #species-title, #background-title {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#class-selection, #species-selection, #background-selection {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#class-description-div, #species-description-div, #background-description-div {
		grid-column-start: 3;
		grid-column-end: 5;
		margin-left: 20px;
	}
	
	#stat-inputs {
		display: flex;
	}
	
	.stat-input-divs {
		flex: 1;
	}
	
}

/* SMALL COMPUTER SCREEN */
@media only screen and (max-width: 880px) {
	
	/* WEBSITE LAYOUT */
	.website-background {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.website-body {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.full-page-span {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	.paragraph-page-span {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	.side-nav {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.credits {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	/* CHARACTER CREATOR PAGE */
	.creator-grids {
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 20px;
	}
	
	#class-title, #species-title, #background-title {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#class-selection, #species-selection, #background-selection {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#class-description-div, #species-description-div, #background-description-div {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#stat-inputs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
}

/* MOBILE DEVICE SCREEN */
@media only screen and (orientation: portrait) {
	
	/* WEBSITE LAYOUT */
	.website-background {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.website-body {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.full-page-span {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	.paragraph-page-span {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	.side-nav {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.credits {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	/* CHARACTER CREATOR PAGE */
	.creator-grids {
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 20px;
	}
	
	#class-title, #species-title, #background-title {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#class-selection, #species-selection, #background-selection {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#class-description-div, #species-description-div, #background-description-div {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#stat-inputs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
}

/***********************
	NAVIGATION
***********************/

/* LARGE COMPUTER SCREEN */
@media only screen and (min-width: 880px) {
	.wrapper {
		display: flex;
		background-color: transparent;
	}
	.wrapper>div, .wrapper>nav {
		flex: 1;
		background-color: transparent;
	}
}

/* SMALL COMPUTER SCREEN */
@media only screen and (max-width: 880px) {
	.wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		background-color: transparent;
	}
	.wrapper>div {
		grid-column-start: 1;
		grid-column-end: 2;
		background-color: transparent;
	}
	.wrapper>nav {
		grid-column-start: 2;
		grid-column-end: 4;
		background-color: transparent;
	}
}

/* MOBILE DEVICE SCREEN */
@media only screen and (orientation: portrait) {
	.wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		background-color: transparent;
	}
	.wrapper>div {
		grid-column-start: 1;
		grid-column-end: 2;
		background-color: transparent;
	}
	.wrapper>nav {
		grid-column-start: 2;
		grid-column-end: 4;
		background-color: transparent;
	}
}
