
/***********************
	WEBSITE COLOR & MARGINS
***********************/

body {
	background-color: #8D1020;
}

@media (max-width: 750px) {
	.website-background {
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media (min-width: 750px) {
	.website-background {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.website-background {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
}

header {
	background-color: black;
	padding: 15px;
}

footer {
	background-color: black;
	padding: 10px;
}

.website-content {
	background-color: white;
	padding: 15px;
}

#character-creator-info {
	background-color: #dddddd;
	height: 300px;
	text-align: center;
}

.website-body>div {
	padding: 10px;
}

.side-nav>div {
	margin: 5px;
	padding: 5px;
	background-color: #dddddd;
	border-radius: 15px;
	border-width: 0px;
	border-style: solid;
}

/***********************
	COMPUTER FLEX GRIDS
***********************/

@media (min-width: 750px) {
	.website-body {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
	
	#character-creator-info {
		grid-column-start: 1;
		grid-column-end: 7;
	}
	
	#dnd-introduction {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	
	.side-nav {
		grid-column-start: 5;
		grid-column-end: 7;
	}
	
	footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	
	.credits {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

/***********************
	MOBILE FLEX GRIDS
***********************/

@media (max-width: 750px) {
	.website-body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	
	#character-creator-info {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#dnd-introduction {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.side-nav {
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.credits {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

/***********************
	FONT, TEXT, ALIGNMENT
***********************/

.footer-links {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer>p {
	text-align: center;
	color: white;
}

.footer-links>a {
	color: white;
}