
/***********************
	WEBSITE COLOR & MARGINS
***********************/

body {
	background-color: #8D1020;
}

.website-background {
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
}

header {
	background-color: black;
	padding: 15px;
}

footer {
	background-color: black;
	padding: 10px;
}

.website-content {
	background-color: white;
	padding: 15px;
}

/***********************
	COMPUTER FLEX GRIDS
***********************/

@media (min-width: 750px) {
	footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	
	.credits {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

/***********************
	MOBILE FLEX GRIDS
***********************/

@media (max-width: 750px) {
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.credits {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

/***********************
	FONT, TEXT, ALIGNMENT
***********************/

.footer-links {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer>p {
	text-align: center;
	color: white;
}

.footer-links>a {
	color: white;
}